@import 'base/base';

.container {
    padding: 2rem 4rem;
}

.title {
    background: #fff;
    padding: 2rem 5%;
    margin: 1.5rem 0;
    box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
    border-radius: .25rem;
}

.row {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 2%;
    grid-row-gap: 28px;
}

