@import 'base/base';

$color-text: #383838;

.container {
    padding: 2rem 4rem;
}

.title {
    background: #fff;
    padding: 2rem 5%;
    margin: 1.5rem 0;
    box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
    border-radius: .25rem;
    color: $color-text;
    line-height: 24px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
    gap: 24px 16px;
}

.box {
    position: relative;
    height: 250px;
    background: #fff;
    padding: 2rem 5%;
    margin: 1.5rem 0;
    box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
    border-radius: .25rem;
    overflow: hidden;
    z-index: 9;
}

.box::before {
    content: '';
    position: absolute;
    top: -3rem;
    left: 32px;
    width: 150px;
    height: 140%;
    background: linear-gradient(145deg, #053F5C , #9FE7F5);
    animation: animate 15s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #fff;
    border-radius: .20rem;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.snippet {
    position: relative;
    z-index: 10;
    top: -1.87rem;
    left: -.55rem;
    padding: 2px 5px;
    text-align: center;
    background-color: rgb(255, 25, 100);
    width: 6rem;
    font-size: .75rem;
    color: #fff;
    border-radius: .20rem 0 .20rem 0;
}

.snippet::before {
    content: attr(data-title);
}

.dot {
    position: relative;
    z-index: 10;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__elastic {
        position: relative;
        @include dot-variables();
        animation: dotElastic 1s linear infinite; 
    }

    &__elastic::before, &__elastic::after {
        @include dot-content();
    }

    &__elastic::before {
        left: -15px;
        @include dot-variables();
        animation: dotElasticBefore 1s linear infinite;
    }

    &__elastic::after {
        left: 15px;
        @include dot-variables();
        animation: dotElasticAfter 1s linear infinite;
    }

    @keyframes dotElasticBefore{
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(1, 1.5);
        }
        50% {
            transform:  scale(1, 0.67);
        }
        75% {
            transform:  scale(1, 1);
        }
        100% {
            transform:  scale(1, 1);
        }
    }        

    @keyframes dotElastic{
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(1, 1);
        }
        50% {
            transform:  scale(1, 1.5);
        }
        75% {
            transform:  scale(1, 1);
        }
        100% {
            transform:  scale(1, 1);
        }
    }           
    @keyframes dotElasticAfter{
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(1, 1);
        }
        50% {
            transform:  scale(1, 0.67);
        }
        75% {
            transform:  scale(1, 1.5);
        }
        100% {
            transform:  scale(1, 1);
        }
    }         
    
    &__pulse {
        position: relative;
        left: -9999px;
        @include dot-variables();
        box-shadow: 9999px 0 0 -5px var(--color-circle);
        animation: dotPulse 1.5s linear infinite;
        animation-delay: .25s;
    }

    &__pulse::before, &__pulse::after {
        @include dot-content();
        @include dot-variables();
    }

    &__pulse::before {
        box-shadow: 9984px 0 0 -5px var(--color-circle);
        animation: dotPulseBefore 1.5s linear infinite;
        animation-delay: 0s;
    }

    &__pulse::after {
        box-shadow: 10014px 0 0 -5px var(--color-circle);
        animation: dotPulseAfter 1.5s linear infinite;
        animation-delay: .5s;
    }

    @keyframes dotPulseBefore {
        0% {
            box-shadow: 9984px 0 0 -5px var(--color-circle);
        }
        30% {
            box-shadow: 9984px 0 0 2px var(--color-circle);
        }
        60%, 100% {
            box-shadow: 9984px 0 0 -5px var(--color-circle);
        }
    }

    @keyframes dotPulse {
        0% {
            box-shadow: 9999px 0 0 -5px var(--color-circle);
        }
        30% {
            box-shadow: 9999px 0 0 2px var(--color-circle);
        }
        60%, 100% {
            box-shadow: 9999px 0 0 -5px var(--color-circle);
        }
    }
    @keyframes dotPulseAfter {
        0% {
            box-shadow: 10014px 0 0 -5px var(--color-circle);
        }
        30% {
            box-shadow: 10014px 0 0 2px var(--color-circle);
        }
        60%, 100% {
            box-shadow: 10014px 0 0 -5px var(--color-circle);
        }
    }

    &__cirle__fb {
        position: relative;
        top: -20px;
        width: 50px;
        height: 50px;
        background: #151B46;
        border-radius: 50%;
    }

    svg {
        display: relative;
        width: 50px;
        height: 50px;
        animation: spinner 2s linear infinite;
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 3;
        stroke: #33A7D0;
        stroke-linecap: round;
        transform: translate(10px, 10px);
        stroke-dasharray: 85;
        stroke-dashoffset: 85;
        background: #33A7D0;
        animation: circle 4s linear infinite;
        animation-delay: .25s;
        transition: .4s ease-in-out;
    }
    
    @keyframes circle {
        0%, 100% {
            stroke-dashoffset: 85;
        }
        50% {
            stroke-dashoffset: 0;
        }
        50.1% {
            stroke-dashoffset: 170;
        }
    }

    &__flashing {
        position: relative;
        @include dot-variables();
        animation: dotFlashing 1s linear alternate infinite;
        animation-delay: .5s;
    }

    &__flashing::before, &__flashing::after {
        @include dot-content();
    }

    &__flashing::before {
        left: -15px;
        @include dot-variables();
        animation: dotFlashing 1s alternate infinite;
        animation-delay: 0s;
    }

    &__flashing::after {
        left: 15px;
        @include dot-variables();
        animation: dotFlashing 1s alternate infinite;
        animation-delay: 1s;
    }

    @keyframes dotFlashing{
        0% {
            background: var(--color-circle);
        }
        50%, 100% {
            background: #9FE7F5;
        }
    }

    &__collision {
        position: relative;
        @include dot-variables();
    }

    &__collision::before, &__collision::after {
        content: '';
        position: absolute;
        display: inline-block;
        top: 0;
    }

    &__collision::before {
        left: -10px;
        @include dot-variables();
        animation: dotCollisionBefore 2s ease-in infinite;
    }

    &__collision::after {
        left: 10px;
        @include dot-variables();
        animation: dotCollisionAfter 2s ease-in infinite;
        animation-delay: 1s;
    }

    @keyframes  dotCollisionBefore {
        0%, 50%, 75%, 100% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-15px);
        }
    }

    @keyframes  dotCollisionAfter {
        0%, 50%, 75%, 100% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(15px);
        }
    }

    &__revolution {
        position: relative;
        @include dot-variables();
    }

    &__revolution::before, &__revolution::after {
        content: '';
        position: absolute;
        display: inline-block;
    }

    &__revolution::before {
        left: 0;
        top: -15px;
        @include dot-variables();
        transform-origin: 5px 20px;
        animation: dotRevolution 1.4s linear infinite;
    }

    &__revolution::after {
        left: 0;
        top: -30px;
        @include dot-variables();
        transform-origin: 5px 35px;
        animation: dotRevolution 1s linear infinite;
    }

    @keyframes dotRevolution {
        0% {
            transform: rotateZ(0deg) translate3d(0, 0, 0);
        }
        100% {
            transform: rotateZ(360deg) translate3d(0, 0, 0);
        }
    }

    &__carousel {
        position: relative;
        left: -9999px;
        @include dot-variables();
        box-shadow: 9984px 0 0 0 var(--color-circle), 
                    9999px 0 0 0 var(--color-circle),
                    10014px 0 0 0 var(--color-circle);
        animation: dotCarousel 1.5s linear infinite;
    }

    @keyframes dotCarousel {
        0% {
            box-shadow: 9984px 0 0 -1px var(--color-circle),
                        9999px 0 0 1px var(--color-circle),
                        10014px 0 0 -1px var(--color-circle) ;
        }
        50% {
            box-shadow: 10014px 0 0 -1px var(--color-circle),
                        9984px 0 0 -1px var(--color-circle),
                        9999px 0 0 1px var(--color-circle) ;
        }
        100% {
            box-shadow: 9999px 0 0 1px var(--color-circle),
                        10014px 0 0 -1px var(--color-circle),
                        9984px 0 0 -1px var(--color-circle) ;
        }
    }

    &__circle {
        position: relative;
        width: 40px;
        height: 40px;
        border: 4px solid rgba(170, 170, 170, 0.2);;
        border-radius: 50%;
        border-top-color: var(--color-circle);
        border-bottom-color: var(--color-circle);
        animation: dotCircle 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    }

    @keyframes dotCircle {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    &__typing {
        position: relative;
        left: -9999px;
        @include dot-variables();
        box-shadow: 9984px 0 0 0 var(--color-circle)
                    9999px 0 0 0 var(--color-circle)
                    10014px 0 0 0 var(--color-circle);
        animation: dotTyping 1.5s linear infinite;
    }

    @keyframes dotTyping {
        0% {
            box-shadow: 9984px 0 0 0 var(--color-circle),
                        9999px 0 0 0 var(--color-circle),
                        10014px 0 0 0 var(--color-circle);
        }
        16.667% {
            box-shadow: 9984px -10px 0 0 var(--color-circle),
                        9999px 0 0 0 var(--color-circle),
                        10014px 0 0 0 var(--color-circle);
        }
        33.333% {
            box-shadow: 9984px 0 0 0 var(--color-circle),
                        9999px 0 0 0 var(--color-circle),
                        10014px 0 0 0 var(--color-circle);
        }
        50% {
            box-shadow: 9984px 0 0 0 var(--color-circle),
                        9999px -10px 0 0 var(--color-circle),
                        10014px 0 0 0 var(--color-circle);
        }
        66.666% {
            box-shadow: 9984px 0 0 0 var(--color-circle),
                        9999px 0 0 0 var(--color-circle),
                        10014px 0 0 0 var(--color-circle);
        }
        83.333% {
            box-shadow: 9984px 0 0 0 var(--color-circle),
                        9999px 0 0 0 var(--color-circle),
                        10014px -10px 0 0 var(--color-circle);
        }
        100% {
            box-shadow: 9984px 0 0 0 var(--color-circle),
                        9999px 0 0 0 var(--color-circle),
                        10014px 0 0 0 var(--color-circle);
        }
    }

    &__overtaking {
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: transparent;
        color: var(--color-circle);
        margin: -1px 0;
        box-shadow: 0 -20px 0 0;
        animation: dotOvertaking 2s cubic-bezier(0.2, 0.6, 0.8, 0.2) infinite;
    }

    &__overtaking::before, &__overtaking::after  {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: transparent;
        color: var(--color-circle);
        box-shadow: 0 -20px 0 0;
    }

    &__overtaking::before {
        animation: dotOvertaking 2s cubic-bezier(0.2, 0.6, 0.8, 0.2) infinite;
        animation-delay: .3s;
    }

    &__overtaking::after {
        animation: dotOvertaking 1.5s cubic-bezier(0.2, 0.6, 0.8, 0.2) infinite;
        animation-delay: .6s;
    }

    @keyframes dotOvertaking {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(360deg);
        }
    }

    &__hourglass {
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        top: -15px;
        background-color: var(--color-circle);
        color: transparent;
        margin: -1px 0;
        transform-origin: 5px 20px;
        animation: dotHourglass 2.4s ease-in-out infinite;
        animation-delay: .6s;
    }

    &__hourglass::before, &__hourglass::after {
        content: '';
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: var(--color-circle);
        color: transparent;
    }

    &__hourglass::before {
        top: 30px;
    }

    &__hourglass::after {
        animation: dotHourglassAfter 2.4s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    }

    @keyframes dotHourglass {
        0% {
            transform: rotateZ(0deg);
        }
        25% {
            transform: rotateZ(180deg);
        }
        50% {
            transform: rotateZ(180deg);
        }
        75% {
            transform: rotateZ(360deg);
        }
        100% {
            transform: rotateZ(360deg);
        }
    }

    @keyframes dotHourglassAfter {
        0% {
            transform: translateY(0)
        }
        25% {
            transform: translateY(30px);
        }
        50% {
            transform: translateY(30px);
        }
        75% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }

    &__rolling {
        position: relative;
        font-size: 10px;
        height: 10px;
    }

    &__rolling::before {
        content: '⚽';
        display: inline-block;
        position: relative;
        transform: translateX(-25px);
        animation: dotRolling 3s infinite;
    }

    @keyframes dotRolling {
        0% {
            content: '⚽';
            transform: translateX(-25px) rotateZ(0deg);
        }
        16.667% {
            content: '⚽';
            transform: translateX(25px) rotateZ(720deg);
        }
        33.333% {
            content: '⚽';
            transform: translateX(-25px) rotateZ(0deg);
        }
        34.333% {
            content: '🏀';
            transform: translateX(-25px) rotateZ(0deg);
        }
        50% {
            content: '🏀';
            transform: translateX(25px) rotateZ(720deg);
        }
        66.667% {
            content: '🏀';
            transform: translateX(-25px) rotateZ(0deg);
        }
        66.667% {
            content: '🏐';
            transform: translateX(-25px) rotateZ(0deg);
        }
        83.333% {
            content: '🏐';
            transform: translateX(25px) rotateZ(720deg);
        }
        100% {
            content: '🏐';
            transform: translateX(-25px) rotateZ(0deg);
        }
    }

    &__floating {
        position: relative;
        @include dot-variables();
        animation: dotFloating 3s ;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 128px 0 20px;
}

.footer > p {
    color: $color-text;
}